<{{{element element}}} data-accordion class="{{classes.root}}">
  {{#each sections}}
    <{{{element element}}} tabindex="0" data-accordion-item class="{{classes.item}}">
      <div class="{{classes.heading}}" {{{attrs heading.attributes}}}>
        <svg class="{{classes.icon}}" width="8" height="12" viewBox="0 0 8 12" fill-rule="evenodd">
          <path d="M0 10.6L4.7 6 0 1.4 1.4 0l6.1 6-6.1 6z"></path>
        </svg>
        <p class="{{classes.title}}">{{title.content}}</p>
      </div>
      <div class="{{classes.content}}">
        <p>{{content.content}}</p>
      </div>
    </{{{element element}}}>
  {{/each}}
</{{{element element}}}>
